// ==================
// color
$green-1: #00a040;
$green-2: #00b849;
$green-3: #00d154;
$green-4: #00eb5e;
// $gray-1: #333333;
// $gray-2: #4D4D4D;
$gray-1: #6f6f6f;
$gray-2: #c8c8c8;
$gray-3: #808080;
$gray-4: #d9d9d9;
$gray-5: #bdbdbd;
$gray-6: #e5e5e5;
$white-1: #ffffff;
$white-2: #f8f9fa;
$black: #2d2d2d;
$black-1: #000000;
$orange-yellow: #f5bd41;
$salmon: #ef896e;
$dark-turquoise: #2a6465;
$light-turquoise: #f1f8f8;
$link: #006ca8;
$tan: #caaa97;
$green-5: #4da54a;
$blue-1: #4296ad;
$brown-1: #cf722a;
// $blue: #114473;
$purple-1: #473a8c;
$purple-2: #7d70bb;

// ==================
// shadow
$shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

// ==================
// break-points
$huge: 1200;
$large: 992;
$medium: 768;
$small: 600;

// ==================
// z-index
$z-index-map: (
  opened-side-navigation: 101,
  sp-navigation: 100,
);
@function z-index-of($key) {
  @return map-get($z-index-map, $key);
}

// ==================
// media-query
@mixin largerThan($width) {
  @media screen and (min-width: $width + 1 + px) {
    @content;
  }
}

@mixin lessThan($width) {
  @media screen and (max-width: $width + px) {
    @content;
  }
}

// ==================
// font-size
@mixin font-size($size, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) + rem;
}
@mixin h1 {
  @include font-size(28);
  font-weight: bold;
}
@mixin h2 {
  @include font-size(26);
  font-weight: bold;
  color: $dark-turquoise;
}
@mixin h3 {
  @include font-size(24);
  font-weight: bold;
}
@mixin h4 {
  @include font-size(18);
  font-weight: bold;
}
@mixin p {
  @include font-size(16);
  line-height: 160%;
  @include lessThan($small) {
    @include font-size(14);
  }
  margin-bottom: 0;
}
@mixin eyebrow {
  @include font-size(14);
  line-height: 130%;
}

// ===================
// button
@mixin text-link {
  @include font-size(14);
  color: $link !important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@mixin button-text($size: "md") {
  @if ($size == "sm") {
    padding: 4px 8px;
  } @else {
    padding: 24px 36px;
  }
  @include font-size(14);
  display: inline-block;
  border-radius: 4px;
  background-color: $white-1;
  border: 1px solid $green-1;
  color: $green-1;
  cursor: pointer;
  &:hover {
    background-color: $green-1;
    color: $white-1;
    > i {
      color: $white-1 !important;
    }
  }
}

// ===================
// card
@mixin card-container {
  background-color: $white-1;
  box-shadow: $shadow;
  border-radius: 10px;
}

// ===================
// font
@font-face {
  font-family: Bebas;
  src: url(../assets/Bebas-Regular.ttf);
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/AvenirLTStd-Book.otf");
}